<h1 class="mt-4">Dashboard</h1>
<% if(user.name){ %>
<p class="lead mb-3">Welcome <%= user.name %></p>
<% } else{ %>
<p class="lead mb-3">Welcome <%= user.displayName %></p>
<% } %>
<section id="search" class="search-wrap">
    <h1>Find A Coding Gig</h1>
    <form action="/api/gigs/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
        <input type="submit" value="Search">
    </form>
</section>