<h1 class="mt-4">Dashboard</h1>
<% if(user.name){ %>
<p class="lead mb-2">Welcome <%= user.name %></p>
<% } else{ %>
<p class="lead mb-2">Welcome <%= user.displayName %></p>
<% } %>




<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <section id="search" class="search-wrap">
                <h3>Find A Coding Gig</h3>
                <form action="/api/gigs/search" class="search-form">
                    <i class="fas fa-search"></i>
                    <input type="search" name="term" placeholder="Javascript, Node.js, React.js, etc...">
                    <input type="submit" value="Search">
                </form>
            </section>

        </div>
    </div>
</div>